<nav id="navbarPai" class="navbar navbar-expand-lg">
  <div id="navbarContatos" class="container-fluid">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item liTel">
          <a class="linkContatos" href="tel:08000408007">
            <span class="spanImg">
              <img class="imgContatos imgTel" src="../assets/telephone-fill.svg" />
            </span>

            <span class="spanTexto spanTel">0800 040 8007</span>
          </a>
        </li>

        <li class="nav-item liEmail">
          <a
            class="linkContatos"
            href="mailto:contato@fbsaude.com.br?subject=Qual%20sua%20dúvida?&#038;body=Informe%20o%20que%20você%20necessita."
          >
            <span class="spanImg">
              <img class="imgContatos imgEmail" src="../assets/logoEmail.svg" />
            </span>

            <span class="spanTexto spanEmail">contato@fbsaude.com.br</span>
          </a>
        </li>
      </ul>
    </div>

    <div id="navbarProfissionais" class="navbar collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item liProfissionais">
          <a class="linkProfissionais" href="https://fbassociado.medlive.pt">
            <span class="spanImg">
              <img class="imgProfissionais imgAssociados" src="../assets/associados.png" />
            </span>

            <span class="spanTextoProfissionais">Associados</span>
          </a>
        </li>

        <li class="nav-item liProfissionais liMedicos">
          <a class="linkProfissionais" href="https://fbsaude.medlive.pt">
            <span class="spanImg">
              <img class="imgProfissionais imgMedicos" src="../assets/medicos.png" />
            </span>

            <span class="spanTextoProfissionais spanMedicos">Médicos</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="navbar navbarMid row mb navbar-collapse">
  <div class="navbar navbarPosicionadorMid navbar-collapse">
    <div class="navbar navbarLogo navbar-expand-lg">
      <a href="https://fbsaude.com.br">
        <div class="logo mr-auto">
          <img id="logoImg" src="../assets/logoFBSaude.png" />
        </div>
      </a>
    </div>
  </div>
</div>
