<section id="exameSectionId">
  <div class="corpoExames row mb">
    <div class="agendamentoExames">
      <div class="exames">
        <h1 class="heading">{{ title }}</h1>

        <p class="paragrafo">{{ subtitle }}</p>
        <form class="form formularioExames">
          <div class="containerForm">
            <div class="formRow formRow flex-column flex-lg-row">
              <fieldset class="field">
                <label for="specialy" class="label">Especialidade</label>

                <select
                  id="specialty"
                  name="specialty"
                  class="selectEspecialidade select select--default"
                  (change)="onSelectEspecialidade($event)"
                >
                  <option value="-1" [selected]="especialidade == -1">Selecione</option>
                  <ng-container *ngIf="data != null">
                    <option [value]="i" *ngFor="let item of data; let i = index">
                      {{ item.nome }}
                    </option>
                  </ng-container>
                </select>
              </fieldset>

              <fieldset class="field fieldEstado">
                <label for="specialy" class="label">Estado</label>

                <select
                  [disabled]="estadoList == false"
                  id="specialty"
                  name="specialty"
                  class="selectEstado select select--default"
                  (change)="onSelectEstado($event)"
                >
                  <option value="-1" [selected]="estadoList == -1">Selecione</option>
                  <ng-container *ngIf="data != null && estadoList != false">
                    <option [value]="i" *ngFor="let item of estadoList; let i = index">
                      {{ item.nome }}
                    </option>
                  </ng-container>
                </select>
              </fieldset>

              <fieldset class="field">
                <label for="specialy" class="label">Cidade</label>

                <select
                  [disabled]="cidadeList == false"
                  id="specialty"
                  name="specialty"
                  class="selectCidade select select--default"
                  (change)="onSelectCidade($event)"
                >
                  <option value="-1" [selected]="cidade == -1">Selecione</option>
                  <ng-container *ngIf="data != null && cidadeList != false">
                    <option [value]="i" *ngFor="let item of cidadeList; let i = index">
                      {{ item.nome }}
                    </option>
                  </ng-container>
                </select>
              </fieldset>

              <fieldset class="field">
                <label for="specialy" class="label">Bairro</label>

                <select
                  [disabled]="bairroList == false"
                  id="specialty"
                  name="specialty"
                  class="selectBairro select select--default"
                  (change)="onSelectBairro($event)"
                >
                  <option value="" [selected]="bairro == ''">Selecione</option>
                  <ng-container *ngIf="data != null && bairroList != false">
                    <option [value]="item.key" *ngFor="let item of bairroList | keyvalue">
                      {{ item.key }}
                    </option>
                  </ng-container>
                </select>
              </fieldset>
            </div>
          </div>
        </form>

        <div class="table-responsive tabelaAgendamento">
          <table class="agendamento">
            <div *ngFor="let item of tabela || []" class="resultadoAgendamento">
              <th scope="row" class="spanNome">{{ item.nome }}</th>
              <th class="spanBairro">{{ item.bairro }}</th>
              <th class="spanCidade">{{ cidadeList[cidade].nome }}</th>
              <th class="spanEstado">{{ estadoList[estado].nome }}</th>
              <th class="spanBotao">
                <a class="linkBotao" target="_blank">
                  <button
                    class="botaoAgendar"
                    data-toggle="modal"
                    data-target="#modalUp"
                    (click)="
                      mostrarModal(
                        item.nome,
                        estadoList[estado].nome,
                        cidadeList[cidade].nome,
                        item.bairro
                      )
                    "
                    type="button"
                  >
                    Agendar
                  </button>
                </a>
              </th>
            </div>
          </table>
        </div>
        <div class="botaoWrapper">
          <button class="botaoVoltar" routerLink="/agendamento" type="button">Voltar</button>
        </div>
      </div>
    </div>
  </div>
</section>
<div
  class="modal fade"
  id="modalUp"
  tabindex="-1"
  role="dialog"
  aria-labelledby="TituloModalCentralizado"
  aria-hidden="true"
>
  <div class="modal modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="TituloModalCentralizado">
          <img src="..\assets\popUp.svg" />
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5 class="hModal">Benefícios FB Saúde</h5>
        <p class="paragrafoModal">Agende agora mesmo sua consulta por WhatsApp ou telefone!</p>
      </div>
      <div class="modal-footer">
        <div class="modoPC">
          <span class="spanModalTel"
            ><img class="imgTel" src="../assets/telephone-fill.png" />0800 040 8007</span
          >
          <span class="spanModalWhats">
            <img class="imgWhats" src="../assets/whatsLogo.svg" />(11) 94501-4352</span
          >
        </div>
        <div class="modoCelular">
          <a class="modalTel" href="tel:08000408007" style="text-decoration: none">
            <button type="button" class="btn btn-secondary botaoSac">SAC</button>
          </a>
          <a
            target="_blank"
            [href]="
              msgWhatsapp(
                mostrar.profissionalWhats,
                mostrar.estadoWhats,
                mostrar.cidadeWhats,
                mostrar.bairroWhats
              )
            "
            style="text-decoration: none"
          >
            <button type="button" class="botaoWhatsapp">Whatsapp</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
